#header_1 {
    width: 100vw; 
    position: absolute;
    height: 70px;
    left: 0px;
    background-color: transparent;
}

#logo {
    position: absolute; 
    left:10px; 
    top: 10px; 
    height: 45px; 
    object-fit: cover
}

body {
    background-color: white
}

#button_text {
    bottom: 0px;
    color: rgb(101, 102, 144);
    cursor: pointer;
    display: block;
    height: 37px;
    left: -45px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(101, 102, 144);
    top: 0px;
    white-space: nowrap;
    width: 273.391px;
    column-rule-color: rgb(101, 102, 144);
    align-self: center;
    perspective-origin: 136.688px 18.5px;
    transform-origin: 136.688px 18.5px;
    border: 0px none rgb(101, 102, 144);
    font: normal normal bold normal 27px / 37.8px sans-serif;
    outline: rgb(101, 102, 144) none 0px;
    transition: color 0.4s ease 0s
}
    
.footer_signup {
    bottom: -80px;
    box-sizing: border-box;
    display: block;
    height: 80px;
    position: fixed;
    text-align: center;
    width: 100vw;
    z-index: 47;
    align-items: center;
    justify-content: center;
    background-color: #06274E;
    font: normal normal normal normal 16px / 16px sans-serif;
    transition: bottom 1200ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

#button_text_2 {
    position: relative;
    bottom: -17.5px;
    color: white;
    cursor: pointer;
    height: 30px;
    margin: auto;
    background-color: #00cc00;
    text-decoration: none solid rgb(255, 255, 255);
    text-transform: uppercase;
    white-space: nowrap;
    width: 217.25px;
    column-rule-color: rgb(255, 255, 255);
    align-self: center;
    perspective-origin: 108.625px 22.5px;
    transform-origin: 108.625px 22.5px;
    user-select: none;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px 30px 30px 30px;
    font: normal normal bold normal 14px / 14px sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 16px 8px 27px
}
    
#button_text_2:hover {
    background-color:rgba(57,255,20, 0.7)
}

.blue_strip {
    height: 85px; 
    background-color: #06274E; 
    width: 100vw;
    z-index: 45;
}

#section_2 {
    height: 170px; 
    position: relative;
    top: 235px;
    background-color: #656690; 
    width: 100vw;
    z-index:46;
}

#descriptors {
    position: relative; 
    top:25px;
    width: 800px; 
    height: 100px; 
    object-fit: cover; 
    display:block; 
    margin:auto;
}

#section_3 {
    height: px; 
    position: absolute; 
    background-color: white; 
    top: 1000px; 
    width: 100vw;
}

#cac_text {
    position: relative; 
    display: block; 
    width: 700px; 
    margin: auto; 
    text-align: center; 
    top: 0px; 
    font-family: Verdana, Geneva, sans-serif; 
    font-size: 30px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 40px;
    letter-spacing: 1.5px;
}

#contact {
    width: 600px; 
    height: 28px; 
    display: block; 
    margin:auto; 
    position: relative; 
    top: 23px;
}

#footer_space {
    height: 115px; 
    position: relative; 
    top: 965px; 
    background-color: white; 
    width: 100vw;
}

#rectangle_2 {
    width: 100vw;
	height: 400px;
    position: absolute;
    top: 100vh;
    z-index: 40;
	background-image: linear-gradient(to bottom, #2ec5e8, #28e8fd);
    opacity: 0.8
}

#Demo_Img {
    width: 100vw;
	height: 400px;
    position: absolute;
    top: 100vh;
    z-index: 39;
    object-fit: cover;
    object-position: 10% 40%;
    transform: scaleX(-1);
}

#play_button {
    position: relative;
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    top: 105px;
    z-index: 41;
    cursor: pointer;
}

#watch_demo {
    width: 100px;
	height: 14px;
	font-family: sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-align: center;
	color: white;
    position: relative;
    display: block;
    margin: auto;
    z-index: 41;
    top: 127px;
    cursor: pointer;
}

#learn_more_text {
    width: 250px;
	height: 14px;
	font-family: "Verdana", sans-serif;
	font-size: 18px;
	font-weight: lighter;
	text-align: center;
	color: white;
    opacity: 1.0;
    position: relative;
    display: block;
    margin: auto;
    z-index: 41;
    top: 15px;
}

#edsurge_title {
    width: 600px;
	height: 14px;
	font-family: Roboto, sans-serif;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	color: white;
    position: relative;
    display: block;
    margin: auto;
    z-index: 41;
    top: 25px;
}

#5_stars {
    position: relative;
    top: 100px;
    width: 350px;
    display: block;
    margin: auto;
}

#edsurge_descriptor {
    width: 750px;
	height: 80px;
    top: 125px;
    position: relative;
    display: block;
    margin: auto;
    
	font-family: sans-serif;
	font-size: 27.5px;
	line-height: 1.36;
	text-align: center;
	color: #9b9b9b;
}

#edsurge_logo {
    width: 100px;
    display: block;
    margin-left: 45vw;
    position: relative;
    top: 145px;
}

#main_image {
    left: 0px;
    top: 70px;
    width: 100vw; 
    height: 100vh; 
    object-fit: cover;
    object-position: 50% 50%;
}

#main_text {
    width: 440px; 
    position: absolute; 
    top: 130px; 
    left: 50px; 
    height: 92px; 
    font-family: sans-serif; 
    font-size: 40px; 
    font-weight: 800; 
    line-height: 1.28; 
    color: #06274E
}

#sub_text {
    width: 400px; 
    height: 60px; 
    font-family: Roboto; 
    font-size: 22.5px; 
    line-height: 1.33; 
    position: absolute; 
    top: 300px; 
    left: 50px; 
    color: rgba(0, 0, 0, .8);
}

#learn_more {
    height: 50px; 
    background-color: rgba(169,169,169,0.7);
    width: 100vw;
    z-index: 45;
    bottom: 0px;
    position: fixed;
    transition: bottom 1200ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

#button_text_main {
    position: relative;
    bottom: 160px;
    display: block;
    margin: auto;
    background-color: #00cc00;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 30px;
    text-decoration: none solid rgb(255, 255, 255);
    text-transform: uppercase;
    white-space: nowrap;
    width: 217.25px;
    column-rule-color: rgb(255, 255, 255);
    align-self: center;
    perspective-origin: 108.625px 22.5px;
    transform-origin: 108.625px 22.5px;
    user-select: none;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px 30px 30px 30px;
    font: normal normal bold normal 14px / 14px sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    vertical-align: middle;
    text-align: center;
    padding: 16px 8px 27px
}

#button_text_main:hover {
    background-color:rgba(57,255,20, 0.7)
}

#video_frame {
    border: 3px solid #ffffff; 
    position: fixed; 
    z-index: 50;  
    display: none;
}

#close_but {
    width: 30px;
    height: 30px;
    position: fixed;
    z-index: 51;
    display: none;
    cursor: pointer;
}

#signup_screen {
    width: 100vw; 
    height: 100vh; 
    position: fixed; 
    bottom: -100vh; 
    z-index: -1;
    visibility: hidden;
    transition: bottom 1200ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

#signup_close {
    width: 150px;
    height: 40px;
    position: fixed;
    top: 100vh;
    background-color: #06274E; 
    z-index: -2;
    cursor: pointer;
    visibility: hidden;
    transition: top 1200ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

#down_arrow {
    font-size: 50px;
    padding-left:66px; 
    position: fixed; 
    width: 50px; 
    height: 40px; 
    z-index: -1; 
    top: 100vh; 
    color: white;
    cursor: pointer;
    visibility: hidden;
    transition: top 1200ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

#descriptors_mobile {
    display: none;
}

.descriptor_titles {
    text-align: center;
    padding-right: 50px;
    vertical-align: middle;
    display: table-cell;
}

.descriptor_text {
    width: 200px;
    padding: 20px 0px;
    height: 160px;
    color: #DDDDDD;
    float: left;
    display: table-cell;
}


.descriptor_row {
    display: table-row;
    border-bottom: 1pt solid white;
}

#contact_section {
    height: 75px; 
    position: relative; 
    background-color: #656690; 
    top: 1000px; 
    width: 100vw; 
    z-index: 29;
}

@media only screen and (max-width: 797px) {
    /* For mobile phones: */
    #main_text {
        font-size: 32px;
        width: 250px;
        top: 100px;
    }
    
    #sub_text {
        font-size: 20px;
        top: 280px;
        width: 260px;
    }
    
    #descriptors {
        display: none;
    }
    
    #section_2 {
        height: 490px;
    }
    
    #descriptors_mobile {
        position: relative; 
        top:25px;
        width: 80vw; 
        height: 100px; 
        font-family: sans-serif;
        color: white;
        display: table; 
        margin:auto;
    }
    
    #edsurge_title {
        font-size: 18px;
        width: 300px;
        top: 30px;
    }
    
    #edsurge_descriptor {
        font-size: 20px;
        width: 90vw;
    }
    
    #contact {
        width: 370px;
        height: 18px;
        top: 27px;
    }
    
    #edsurge_logo {
        top: 170px;
    }
    
    #button_text_main {
        top: -190px;
        padding: 10px 8px 27px
    }
    
    #button_text_2 {
        padding: 10px 8px 27px
    }
    
}

@media only screen and (max-width: 736px) and (orientation: landscape) {
    #main_text {
        top: 60px;
        width: 440px;
    }
    
    #sub_text {
        width: 400px;
        top: 140px;
    }
    
    #button_text_main {
        top: -100px;
    }
    
    #edsurge_logo {
        top: 150px;
    }
    
    #edsurge_descriptor {
        font-size: 23px;
    }  
}

#tutors_title {
    width: 600px;
	height: 14px;
	font-family: Roboto, sans-serif;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	color: white;
    position: relative;
    display: block;
    margin: auto;
    z-index: 41;
    top: 25px;
}

#tutor_container {
    position: relative;
    width: 100vw;
    height: 800px;
    top: 70px;
}

#tutor_sub_head {
	width: 30vw;
    margin-left: 10vw;
	height: 75px;
	font-family: Roboto;
	font-size: 2.2vw;
	line-height: 1.36;
	color: #13b2c5;
    position: relative;
    top: 90px;
}

#tutor_description {
    width: 30vw;
	height: 200px;
	font-family: Roboto;
	font-size: 1.25vw;
	line-height: 1.61;
	letter-spacing: 1.8px;
	color: #4a4a4a;
    position: relative;
    top: 85px;
    margin-left: 10vw;
}

#tutor_card_container {
    width: 50vw;
    height: 390px;
    position: relative;
    float: right;
    top: -240px;
    background-color: white;
    overflow: hidden;
}

.tutor_card {
    float: left;
    position: absolute;
    width: 30vw;
    height: 380px;
    z-index: 39;
    min-height: 300px;
    margin-top, margin-bottom: 5px;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 2.5px;
	background-color: #ffffff;
	background-color: var(--white);
	box-shadow: -1px 1px 5px 0 rgba(0, 0, 0, 0.1);
    transition: left 1200ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

.tutor_name {
    width: 28vw;
    margin: 2vw 0vw 0vw 2vw;
	height: 30px;
	font-family: Roboto, sans-serif;
	font-size: 1.7vw;
	font-weight: 500;
	line-height: 1.5;
	color: #4a4a4a;
}

.tutor_title {
    width: 28vw;
    margin-top: -.65vw;
    margin-left: 2vw;
	height: 30px;
	font-family: Roboto, sans-serif;
	font-size: 1.4vw;
	font-weight: 300;
	line-height: 1.5;
	color: #4a4a4a;
}

.tutor_bio {
    width: 26vw;
    margin-left: 2vw;
	height: 12vw;
	font-family: Roboto, sans-serif;
	font-size: 1.2vw;
	font-weight: 300;
	line-height: 1.5;
    overflow: scroll;
	color: #4a4a4a;
}

@media only screen and (min-width: 881px) {
    .tutor_name {
        font-size: 15.81px;   
    }
    
    .tutor_title {
        font-size: 13.02px;
    }
    
    .tutor_bio {
        font-size: 10.572px;
    }
    
    #tutor_sub_head {
        font-size: 18px;
    }
    
    #tutor_description, #background_check_text {
        font-size: 12px;
    }
}

#tutor_kelsey {
    left: 32vw;
}

#tutor_gradient {
    position: absolute;
    width: 18vw;
    height: 40vw;
    right: 0px;
    z-index: 40;
    top: 35px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.0), #ffffff);
}

#next_tutor {
    cursor: pointer;
}

#tutor_caroline {
    left: -32vw;
    visibility: visible;
}

#tutor_adam {
    left: 64vw;
    visibility: visible;
}

#background_check_text {
    width: 30vw;
	height: 50px;
    top: 320px;
	font-family: Roboto;
	font-size: 1.25vw;
	line-height: 1.61;
	letter-spacing: 1.8px;
	color: grey;
    position: absolute;
    margin-left: 10vw;
}
